<!DOCTYPE Process Start>
<html>
  <head>
<style>

</style>
    </head>
  <body>
      <body style="background-image:url('https://images.unsplash.com/photo-1432059964050-d4eba2ef368a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'); background-size: 100% 100%;">
<br><br>
    <h1><center> VIRTUSA CONTAINER AUTOMATION </center></h1><br><br>
    <h1><center> Container Creation </center></h1>
    <a href={% url 'http'%}><center><button>DEPLOY APP</center></button></a><br><br>
    <a href={% url 'service1'%}><center><button>DEPLOY SERVICE</center></button></a>
  </body>
</html>







<!DOCTYPE Process Stop>
<html>
  <head>
    </head>
  <body>
    <h1><center> Container Termination </center></h1>
    <a href={% url 'stop'%><center><button>Process Stop</center></button></a>
  </body>
</html>
